*.pyc
env/

main/settings_local.py
db.sqlite3
/static

stats/secrets.py
stats/bookmarks_*.html
stats/_helper_files/

main/secrets.py
channel/secrets.py
channel/bookmarks_*.html
channel/_helper_files/

