{% extends "main/base.html" %}

{% block content %}

<div>
    {% if user.is_authenticated %}
        <a href="{% url 'channel_add' %}"><span class="glyphicon glyphicon-plus"></span></a>
    {% else %}
        [please authenticate to add more]
    {% endif %}
</div>

<table border="1" cellspacing="2" cellpadding="5">
    <tr>
        <th>Channel</th>
        <th>Total view count</th>
        <th>Video count</th>
        <th>Subscriber count</th>
    </tr>
    {% for stat in statistics %}
    <tr>
        <td><a href="{% url 'channel_videos' stat.channel.id  %}">{{ stat.channel.username }}</a></td>
        <td>{{ stat.total_view_count }}</td>
        <td>{{ stat.video_count }}</td>
        <td>{{ stat.subscriber_count }}</td>
    </tr>
    {% endfor %}
</table>

<form method="post">
    {% csrf_token %}
    <button name="button" value="submit" type="submit">Refresh statistics</button>
</form>

{% endblock content %}
