{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block title %} Registration {% endblock %}

{% block javascript %}
    <script src="{% static 'js/form_errors.js' %}"></script>
{% endblock javascript %}

{% block content %}
<div class="row">
<div class="col-md-4">
    <h1>Register</h1>
    <form method="post" data-validate-username-url="{% url 'ajax_validate_username' %}" action=".">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
</div>
</div>
{% endblock %}
