{% load staticfiles %}
<html>
    <head>
        <title>Yatta</title>
        {% block head %}
            <!-- jQuery -->
            <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

            <!-- Bootstrap -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

            <!-- Bootstrap table -->
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
            <!-- Latest compiled and minified JavaScript -->
            <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>

            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock head %}
    </head>

    <body>
        <div class="page-header">
            <span class="menu"><a href="{% url 'channel_list' %}">Channels</a></span>
            {% if user.is_authenticated %}
                <span class="login">{{ user.username }}</span>
            {% else %}
                <span class="login"><a href="{% url 'auth_login' %}">Login</a></span>
            {% endif %}
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-12">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
