.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.page-header {
    display: block;
    border-bottom: 3px solid #ff9900;
    height: 45px;
    font-size: 15pt;
    padding: 6px 6px;
    margin-top: 0px;
    margin-bottom: 13px;
    clear: both;
}

li.header-item a:hover {
    background-color: #ffffff;
}

.ajax-error {
    color: red;
    font-weight: bold;
}
