.page-header {
    display: block;
    border-bottom: 3px solid #ff9900;
    height: 45px;
    font-size: 15pt;
    padding: 6px 6px;
    margin-top: 0px;
    margin-bottom: 13px;
    clear: both;
}

.page-header .login {
    float: right;
}
