{% extends "main/base.html" %}

{% block content %}

{% if user.is_authenticated %}
    <span>
        <a href="{% url 'channel_add' %}"><span class="glyphicon glyphicon-plus"></span></a>
        <a href="{% url 'channel_add_multiple' %}"><span class="glyphicon glyphicon-th-list"></span></a>
    </span>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
            <button name="button" value="submit" type="submit">Refresh statistics</button>
    </form>
{% else %}
    <span>[please authenticate to add more]</span>
{% endif %}

<table data-toggle="table"
       data-sort-name="channel_name"
       class="table-condensed">
    <thead>
        <tr>
            <th data-field="channel_name" data-sortable="true">Channel</th>
            <th data-sortable="true">Total view count</th>
            <th data-sortable="true">Video count</th>
            <th data-sortable="true">Subscriber count</th>
            <th>Chart</th>
        </tr>
    </thead>
    {% for stat in statistics %}
    <tr>
        <td><a href="{% url 'channel_videos' stat.channel.id  %}">{{ stat.channel.username }}</a></td>
        <td>{{ stat.total_view_count }}</td>
        <td>{{ stat.video_count }}</td>
        <td>{{ stat.subscriber_count }}</td>
        <td><a href="{% url 'channel_chart' stat.channel.id %}">link</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}
