{% extends "main/base.html" %}

{% block content %}
<h1>"{{ channelname }}" videos</h1>

{% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <button name="button" value="submit" type="submit">Get videos</button>
    </form>
{% else %}
    [please authenticate to update]
{% endif %}

<table border="1" cellspacing="2" cellpadding="5">
    <tr>
        <th>Title</th>
        <th>Video ID</th>
        <th>Published at</th>
    </tr>
    {% for video in videos %}
    <tr>
        <td><a href="{% url 'video_info' video.id %}">{{ video.title }}</a></td>
        <td>{{ video.video_id }}</td>
        <td>{{ video.published_at|date:"Y-m-d, H:i:s" }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
